.scroll-disabled {
	overflow: hidden;
}
.swiper-slide {
	height: auto !important;
}

.w-radio:before,
.w-radio:after {
	display: none;
}

/* HOME VIDEO REVEAL */
.home-hero_video.is-robot-hand video {
	object-position: 50% 33%;
}

.home-header-animation .nav-bar_logo-link,
.home-header-animation .button.is-white-bg,
.home-header-animation .nav-bar_hamburger {
	transform: translateY(100%);
}

.home-hero_icon {
	transform: translateX(-100%);
}

.home-hero_bottom-content,
.home-hero_top-bottom {
	opacity: 0;
}

.home-spotlights_sticky-container::-webkit-scrollbar,
.post-filters::-webkit-scrollbar {
	display: none; /* Hide scrollbar */
}

.home-spotlights_sticky-container,
.post-filters {
	scrollbar-width: none;
}

.home-spotlights_sticky-container,
.post-filters {
	-ms-overflow-style: none;
}

/* HOME POSTS */

@media only screen and (min-width: 992px) {
	.home-posts_item.is-small.is-reverse .home-posts_outer-wrap {
		flex-direction: row-reverse;
	}
}

/* Large Card */
.home-posts_item.is-large .home-posts_outer-wrap {
	row-gap: 2.5rem;
}

.home-posts_item.is-large .home-posts_image-wrap {
	aspect-ratio: 993 / 664;
}

/* Small Card */
.home-posts_item.is-small .home-posts_outer-wrap {
	flex-direction: row;
	column-gap: 2rem;
}
.home-posts_item.is-small .home-posts_content-wrap {
	width: 51%;
}
.home-posts_item.is-small .home-posts_image-wrap {
	width: 49%;
	aspect-ratio: 479 / 350;
}

@media only screen and (max-width: 767px) {
	.home-posts_item.is-small .home-posts_outer-wrap,
	.home-posts_item.is-large .home-posts_outer-wrap {
		flex-direction: column;
		row-gap: 1.25rem;
	}
	.home-posts_item.is-small .home-posts_content-wrap {
		width: 100%;
	}
	.home-posts_item.is-small .home-posts_image-wrap {
		width: 100%;
		aspect-ratio: 993 / 664;
	}
}

/* POST FILTERS */
.fs-cmsfilter_active {
	color: var(--text--text_dark);
}

.fs-cmsfilter_active .post-filters_icon {
	display: flex;
}

.w-radio-input.w--redirected-checked ~ .post-filters_icon.w-embed {
	display: flex;
}
.w-radio-input.w--redirected-checked ~ .w-form-label {
	color: var(--text--text_dark);
}

/* NEWS ARCHIVE MASONRY */
@media only screen and (min-width: 992px) {
	.news-archive_post:nth-child(3n + 1) {
		padding-right: 2rem;
	}

	.news-archive_post:nth-child(3n + 2) {
		padding-left: 2rem;
		padding-right: 2rem;
		border-left: 1px solid var(--border--border_dark);
		border-right: 1px solid var(--border--border_dark);
	}

	.news-archive_post:nth-child(3n) {
		padding-left: 2rem;
	}
}

@media only screen and (max-width: 991px) {
	.news-archive_post:nth-child(odd) {
		padding-right: 2rem;
	}

	.news-archive_post:nth-child(even) {
		padding-left: 2rem;
		border-left: 1px solid var(--border--border_dark);
	}
}

@media only screen and (max-width: 767px) {
	.news-archive_post:nth-child(odd) {
		padding-right: 0rem;
	}

	.news-archive_post:nth-child(even) {
		padding-left: 0rem;
		border-left: none;
	}
}

/* REGULAR NEWS IMAGE ADJUSTMENT */

[data-news-post="image"].is-small {
	aspect-ratio: 416 / 205;
}
[data-news-post="image"].is-medium {
	aspect-ratio: 416 / 308;
}

@media only screen and (max-width: 767px) {
	[data-news-post="image"].is-small {
		aspect-ratio: 356 / 182;
	}
	[data-news-post="image"].is-medium {
		aspect-ratio: 356 / 232;
	}
}

/* SPOTLIGHT LIST ITEM */

[data-news-post="post"].is-heading-description .news-list_image-wrap {
	display: none;
}

[data-news-post="post"].is-image-heading .news-list_description-wrap {
	display: none;
}
[data-news-post="post"].is-heading .news-list_image-wrap,
[data-news-post="post"].is-heading .news-list_description-wrap {
	display: none;
}

[data-news-post="post"].home-spotlights_mobile_post:nth-child(2) {
	border-bottom: none;
}

@media only screen and (max-width: 991px) {
	[data-news-post="post"].is-spotlight .news-list_content-wrap {
		flex-direction: row-reverse;
		column-gap: 1rem;
		align-items: stretch;
		justify-content: space-between;
	}
	[data-news-post="post"].is-spotlight .news-list_image-wrap {
		width: 8rem;
		height: 8rem;
		flex-shrink: 0;
	}
}

/* NEWS POSTS WITH/WITHOUT URL */
[data-news-post="post"]:not(.has-url) .news-list_button-wrap {
	display: none;
}

[data-news-post="post"].has-url .news-list_link-wrap {
	cursor: pointer;
}

/* Hovers only on desktop */
@media only screen and (min-width: 992px) {
	[data-news-post="post"].has-url .news-list_link-wrap:hover .button.is-secondary,
	.post_link-wrap:hover .button.is-secondary {
		background-color: var(--background--bg_accent);
		border-color: var(--border--border_accent);
	}
	.news-list_post.has-url .news-list_link-wrap:hover .post_image-overlay,
	.post_link-wrap:hover .post_image-overlay {
		opacity: 0.2;
	}
}

@media only screen and (max-width: 991px) {
	[data-news-post="post"].is-spotlight.has-url .button {
		padding: 0px;
		border: none;
	}
}

@media only screen and (max-width: 767px) {
	[data-news-post="post"]:not(.is-spotlight) .news-list_button-wrap {
		display: none;
	}
}

/* HEADER */
.header_dark .header_logo {
	color: var(--text--text_dark);
}

.header_light .header_logo {
	color: var(--text--text_light);
}

.nav-bar_hamburger-line {
	transition: transform 0.3s;
}

.nav-bar_hamburger.is-open .nav-bar_hamburger-line:nth-child(1) {
	transform: translate(0, 4px) rotate(-45deg);
}
.nav-bar_hamburger.is-open .nav-bar_hamburger-line:nth-child(2) {
	transform: translate(0, -5px) rotate(45deg);
}

/* TEXT REVEAL ANIMATION */

.hero_heading {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	flex-wrap: wrap;
}

[data-text-reveal="text"] {
	font-kerning: none;
	display: flex;
	flex-wrap: wrap;
	row-gap: 0.5rem;
	align-items: start;
}

[data-text-reveal="text"] .line {
	position: relative;
	overflow: hidden;
	width: auto !important;
}

[data-text-reveal="text"] .word {
	opacity: 0;
}

[data-text-reveal="text"] .text-animation_overlay {
	position: absolute;
	background-color: white;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: translateX(-100%);
}

@media only screen and (max-width: 991px) {
	.hero_heading {
		flex-direction: column;
		align-items: start;
	}
}

/* CASE ARCHIVE */
.case-studies_categories-list .case-studies_category:first-of-type .post-taxonomy_divider {
	display: none;
}

/* CASE STUDY INNER */
.case-hero_heading {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}

.case-hero_heading [data-text-reveal="text"]:nth-child(odd) {
	align-self: start;
}
.case-hero_heading [data-text-reveal="text"]:nth-child(even) {
	align-self: end;
}

@media only screen and (max-width: 991px) {
	.case-hero_heading [data-text-reveal="text"]:nth-child(even) {
		align-self: start;
	}
}
.case-insight_gallery-image:nth-child(1) {
	aspect-ratio: 672 / 520;
}
.case-insight_gallery-image:nth-child(2) {
	aspect-ratio: 672 / 860;
}

/* RELATED POSTS SWIPER */
.swiper-pagination-bullet {
	width: 0.375rem;
	height: 0.375rem;
	background-color: var(--background--bg-light-grey);
	display: block;
}

.swiper-pagination-bullet.is-active {
	background-color: black;
}
.swiper-pagination-wrap.is-dark .swiper-pagination-bullet {
	background-color: #515151;
}
.swiper-pagination-wrap.is-dark .swiper-pagination-bullet.is-active {
	background-color: white;
}

.swiper-btn-next.swiper-button-disabled .swiper-nav-arrow,
.swiper-btn-prev.swiper-button-disabled .swiper-nav-arrow {
	color: var(--background--bg-light-grey);
}
.career-things_navigation-wrap .swiper-btn-next.swiper-button-disabled .swiper-nav-arrow,
.career-things_navigation-wrap .swiper-btn-prev.swiper-button-disabled .swiper-nav-arrow {
	color: #515151;
}

.swiper-button-disabled {
	pointer-events: none;
}

@media only screen and (min-width: 768px) {
	.section_related-posts .swiper-wrapper {
		display: grid;
	}
}

/* OPEN DATA SWIPER */
.swiper-wrapper {
	gap: 0;
}

.data-projects_nav-btn.swiper-button-disabled {
	opacity: 0.3;
}

@media only screen and (max-width: 767px) {
	.data-projects_wrap .data-projects_post-item:nth-child(n + 4) {
		display: none;
	}
	.data-projects_wrap .data-projects_post-item:nth-child(3) {
		border-bottom: unset;
	}
}

/* TESTIMONIALS SWIPER */

.testimonials_nav-btn.swiper-button-disabled {
	opacity: 0.3;
}

/* CAREER LIST */
.career-positions_list-item:last-child {
	border-bottom: unset;
}

/* FORM */
.form_dropdown_link.w--current {
	background-color: rgba(0, 0, 0, 0.05);
}

.form_dropdown_link.w--current .form_dropdown_icon.is-link {
	display: flex;
}

.form_dropdown_toggle.has-value {
	color: var(--text--text_dark);
}

.form_dropdown_list-wrap .form_dropdown_link:first-of-type {
	display: none !important;
}

.form_checbox-wrap:hover:not(:has(.form_privacy-link:hover)) .form_checkbox {
	background-color: #f1f1f1;
}

form label.error {
	color: #ff350d;
	font-size: 0.75rem;
	line-height: 1rem;
	letter-spacing: -0.01em;
	text-align: end;
	margin-top: 0.25rem;
}

form .checkbox-error {
	background-color: #ffd9cc;
	border-color: #e21c1c;
}

.project-contact_option:hover .project-contact_option_bg {
	background-color: #dfdfdf;
}

.project-contact_option_checkbox:checked ~ .project-contact_option_bg {
	background-color: black;
}
.project-contact_option_checkbox:checked ~ span {
	color: white;
}
.project-contact_option_radio:checked ~ .project-contact_option_bg {
	background-color: black;
}
.project-contact_option_radio:checked ~ span {
	color: white;
}

.project-contact_option span {
	transition: color 0.2s ease;
}

/* LENIS */
html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}

/* CMS PAGINATION */
.post_pagination_btn {
	display: flex !important;
}
.post_pagination_btn.is-disabled {
	cursor: default;
	color: var(--text--text_grey);
	pointer-events: none;
}

/* COOKIES */
.cky-consent-bar {
	padding: 2rem !important;
}

.cky-title {
	margin-bottom: 0 !important;
}

.cky-notice-des * {
	font-size: 1.25rem !important;
	line-height: 1.5rem !important;
}

.cky-notice-des {
	max-width: 60.625rem !important;
}

.cky-btn {
	font-size: 0.875rem !important;
	text-transform: uppercase !important;
	padding: 0.625rem 1rem !important;
	border-radius: 100rem !important;
	border-width: 1px !important;
	margin: 0 !important;
	transition: 0.2s;
}
.cky-btn:hover {
	opacity: 1 !important;
}

.cky-btn.cky-btn-preferences {
	border-color: black !important;
	color: black !important;
}

.cky-prefrence-btn-wrapper .cky-btn {
	flex: none !important;
}

.cky-notice-btn-wrapper {
	gap: 0.5rem !important;
	margin: 0 !important;
}

.cky-preference-center {
	background-color: white !important;
	padding: 3rem !important;
	border-radius: 0 !important;
	width: 50rem !important;
	height: 40rem !important;
	max-height: 90vh !important;
}

.cky-preference-header,
.cky-accordion {
	border: none !important;
}

.cky-horizontal-separator,
.cky-footer-shadow,
.cky-accordion-chevron {
	display: none !important;
}

.cky-preference-content-wrapper,
.cky-accordion-btn,
.cky-accordion-header-des,
.cky-chevron-right,
.cky-preference-title {
	color: black !important;
}

.cky-prefrence-btn-wrapper {
	border: none !important;
	justify-content: end !important;
}

.cky-preference-header,
.cky-preference-body-wrapper,
.cky-prefrence-btn-wrapper,
.cky-preference-content-wrapper {
	padding: 0 !important;
}

.cky-footer-wrapper div:last-child {
	display: none !important;
}

.cky-footer-wrapper {
	margin-top: 2rem !important;
}

.cky-preference-title {
	font-weight: 400 !important;
	font-size: 2.5rem !important;
	line-height: 2.75rem !important;
}

.cky-preference-body-wrapper {
	margin-top: 1rem !important;
}
.cky-preference-content-wrapper {
	font-size: 1rem !important;
	line-height: 1.5rem !important;
	margin-bottom: 2rem !important;
}

.cky-accordion-header .cky-accordion-btn {
	font-size: 1.5rem !important;
	line-height: 1.75rem !important;
	font-weight: 400 !important;
}

.cky-accordion-item .cky-accordion-header {
	flex-direction: row-reverse !important;
	justify-content: start !important;
	gap: 1.5rem !important;
}

.cky-switch input[type="checkbox"] {
	height: 1.5rem !important;
	width: 1.5rem !important;
	border-radius: 0 !important;
	background-color: white !important;
	border: solid 1px black !important;
	position: relative !important;
}

.cky-switch input[type="checkbox"]:checked {
	background-color: black !important;
}

.cky-switch input[type="checkbox"]::before {
	background-color: transparent !important;
	border-radius: 0 !important;
	width: 1.5rem !important;
	height: 1.5rem !important;
	position: absolute !important;
	left: -1px !important;
	bottom: 0 !important;
	right: 0 !important;
	top: -1px !important;
	content: "" !important;
	background-image: url("https://cdn.prod.website-files.com/66deddeed7fdcd89b6b4d6a7/672bb864723aa5a0370eae81_checkmark.svg") !important;
	background-size: 100% 100% !important;
	transition: none !important;
	opacity: 0 !important;
}

.cky-switch input[type="checkbox"]:checked::before {
	opacity: 1 !important;
	transform: none !important;
}

.cky-always-active {
	width: 1.5rem !important;
	height: 1.5rem !important;
	background-color: white !important;
	border: solid 1px black !important;
	background-color: black !important;
	opacity: 0.5 !important;
	position: absolute !important;
	top: 2px !important;
	left: 0 !important;
}

.cky-always-active::before {
	background-color: transparent !important;
	border-radius: 0 !important;
	width: 1.5rem !important;
	height: 1.5rem !important;
	position: absolute !important;
	left: -1px !important;
	bottom: 0 !important;
	right: 0 !important;
	top: -1px !important;
	content: "" !important;
	background-image: url("https://cdn.prod.website-files.com/66deddeed7fdcd89b6b4d6a7/672bb864723aa5a0370eae81_checkmark.svg") !important;
	background-size: 100% 100% !important;
	transition: none !important;
}

.cky-accordion-header {
	position: relative !important;
	padding-left: 3rem !important;
}

.cky-switch {
	position: absolute !important;
	top: 2px !important;
	left: 0px !important;
}

.cky-accordion-header-des {
	margin: 0.375rem 0 0 3rem !important;
}

.cky-accordion .cky-accordion-item,
.cky-accordion-wrapper {
	margin: 0 !important;
}

.cky-accordion-wrapper {
	display: flex !important;
	flex-direction: column !important;
	gap: 1.5rem !important;
}

.cky-accordion.cky-accordion-active .cky-accordion-body {
	display: none !important;
}

.cky-btn-close {
	position: absolute !important;
	top: 1.5rem !important;
	right: 1.5rem !important;
}

.cky-preference-header .cky-btn-close img {
	height: 2rem !important;
	width: 2rem !important;
}

.cky-consent-container .cky-consent-bar {
	box-shadow: none !important;
}

@media only screen and (max-width: 845px) {
	.cky-modal {
		max-width: none !important;
	}
}

@media only screen and (max-width: 768px) {
	.cky-consent-bar {
		padding: 1.25rem !important;
	}
	.cky-notice-des * {
		font-size: 1rem !important;
		line-height: 1.375rem !important;
	}
	.cky-notice-btn-wrapper {
		margin-top: 2.5rem !important;
	}
	.cky-notice-btn-wrapper .cky-btn {
		flex: none !important;
	}
	.cky-preference-center {
		height: 100vh !important;
		max-height: none !important;
		width: 100vw !important;
		padding: 3.5rem 1.25rem 2rem 1.25rem !important;
	}

	.cky-preference-title {
		font-size: 2rem !important;
		line-height: 2.25rem !important;
	}

	.cky-preference-body-wrapper {
		margin-top: 0.5rem !important;
	}

	.cky-btn-close {
		top: 1rem !important;
		right: 1.25rem !important;
	}

	.cky-accordion-header .cky-accordion-btn {
		font-size: 1.25rem !important;
		line-height: 1.75rem !important;
	}

	.cky-switch input[type="checkbox"],
	.cky-switch input[type="checkbox"]::before,
	.cky-always-active,
	.cky-always-active::before {
		width: 1.25rem !important;
		height: 1.25rem !important;
	}
	.cky-switch input[type="checkbox"],
	.cky-always-active {
		top: 4px !important;
	}

	.cky-accordion-header {
		padding-left: 2.5rem !important;
	}

	.cky-accordion-header-des {
		margin-left: 2.5rem !important;
		margin-top: 0.25rem !important;
	}

	.cky-footer-wrapper {
		margin-top: 4.5rem !important;
	}
}

@media only screen and (max-width: 576px) {
	.cky-custom-brand-logo-wrapper,
	.cky-notice .cky-title,
	.cky-notice-des,
	.cky-notice-btn-wrapper {
		padding: unset !important;
	}
	.cky-notice-btn-wrapper {
		flex-direction: row-reverse !important;
	}
	.cky-notice-btn-wrapper .cky-btn {
		width: auto !important;
	}
	.cky-prefrence-btn-wrapper {
		flex-direction: row-reverse !important;
	}
	.cky-prefrence-btn-wrapper .cky-btn {
		width: auto !important;
	}
}

/* JOIN THE GROUP */

.section_join-contact.positions-empty {
	padding-top: 7.5rem;
}

.section_join-contact.positions-empty .join-contact_wrap.grid {
	padding-top: 0;
	border: none;
}

@media only screen and (max-width: 991px) {
	.section_join-contact.positions-empty {
		padding-top: 8.5rem;
	}
}

/* SAUNA INNER CASE */

.main-wrapper.is-sauna .section_case-about .case-about_gallery {
	padding-bottom: 0;
}

.main-wrapper.is-sauna .case-one_gallery.w-dyn-list {
	padding-bottom: 4.5rem;
}

.main-wrapper.is-sauna .case-two_gallery-wrap {
	display: none;
}

@media only screen and (max-width: 991px) {
	.case-two_wrap.grid {
		padding-bottom: 6.5rem;
	}
}

@media only screen and (max-width: 767px) {
	.case-two_wrap.grid {
		padding-bottom: 4rem;
	}
}

/* Brandtypes active tab icon */
.brandtype-tabs_link.w--current .brandtype-tabs_link-icon {
	display: flex;
}

/* Brandtypes tabs overflow hide scrollbar */
.brandtype-tabs_menu::-webkit-scrollbar {
	display: none;
}

.brandtype-tabs_menu {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}
